body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat-Black', sans-serif;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* containers */
.container-fluid-title {
  padding: 3% 15% 7%;
}

.container-fluid {
  padding: 3% 15%;
}

/* title sec */
#title {
  text-align: left;
  background-color: #CC704B;
}

.coffe-phone {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

.coffe-phone-div {
  padding: 2%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat-Light', sans-serif;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

/* features sec */
#features {
  background-color: #733C3C;
  padding: 5% 10%;
  position: relative;
}

.logo {
  padding: 1% 0 0 0;
  font-size: 4rem;
  color: white;
}

.logo:hover {
  color: gold;
}

.logo-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: white;
}

.logo-p:hover {
  color: gold;
}

/* testimonials sec */
#testimonials {
  background-color: #CC704B;
  color: white;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  height: 200px;
  margin: 20px;
}

/* cta section */
#cta {
  background-color: #CC704B;
}

.cta-heading {
  padding-top: 4%;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.cta-div {
  padding: 0 3%;
}

.Download-button1 {
  margin: 2% 0.5%;
}

/* footer sec */
#footer {
  background-color: #733C3C;
  padding: 1%;
  color: white;
}

.contact {
  padding: 0.3%;
  font-size: 1.5rem;
  color: white;
}

.contact:hover {
  color: gold;
}

.Copyright {
  padding-top: 1% color:white;
}

.Copyright:hover {
  color: gold;
}

/* press sec */
#press {
  background-color: #CC704B;
  padding-bottom: 3%;
}

.press-logo {
  width: 11%;
  margin: 20px 20px 50px;
}

/* Pricing sec */
#pricing {
  padding: 5%;
  background-color: #733C3C;
}

.price-text {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.pricingPakage-text {
  padding-top: 4%;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 900;
  color: black;
}

.card {
  background-color: #E4D1B9;
  border: 4px solid;
}

.card-body {
  border-top: 4px solid;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-small-p {
  font-weight: 900;
}

/* media */
@media (max-width: 1275px) {
  #title {
    text-align: center;
  }

  .coffe-phone {
    width: 50%;
    transform: rotate(0);
    position: static;
  }

  .testimonial-image {
    border-radius: 100%;
    width: 35%;
    height: 200px;
    margin: 20px;
  }

  .press-logo {
    width: 18%;
    margin: 20px 20px 50px;
  }

}

@media (max-width: 1275px) and (min-width: 990px) {
  #title {
    text-align: center;
  }

  .coffe-phone {
    width: 80%;
    transform: rotate(0);
    position: static;
    padding-top: 100px;
  }

}
